<ion-header>
  <ion-toolbar>
    <ion-title>
      CryptoCoins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Moedas
    </ion-list-header>

    <ion-item *ngFor="let coin of coins;">
      <ion-avatar slot="start">
        <img src="assets/icon/{{coin.name}}.png">
      </ion-avatar>
      <ion-label>
        <h2>{{coin.name}}</h2>
        <h3>R${{coin.value}}</h3>
        <ion-button (click)="adicionarFavoritos(coin.index)" fill="clean" class="favoritar"><ion-icon name="star"></ion-icon></ion-button>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
